.root{
    font-size: 16px;
}
body{
    background-color: #fbf8fb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/*Configuração do cabeçalho*/
header{
    box-sizing: border-box;
    width: 100%;
    background-color: #ffc400;
}
h1{
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    font-size: 2.5rem;
    color: #ffffff;
}
h1 #titleDec{
    color:#4c4e65;
}
nav{
    margin:auto;
    text-align: center;
}
nav ul{
    display: inline-block;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin: 25px;
}
a{
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}
nav ul a:hover{
    color:#ffc400;
    background-color: #ffffff;
}



/*Configuração do main*/
main{
    width: 75vw;
    max-width: 1000px;
    margin: 15px auto;
}
main #principal{
    margin-right: 15px;
    width: 70%;
    
}
main #principal .post{
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 10px;
    margin: 15px 0;
}
.post h2{
    color:#ffc400;
}
.post .postinfo{
    font-weight: 700;
}
.post img{
    width: 100%;
}

/*Aside*/
aside{
    width: 27%;
    float: right;
}
aside section{
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: 20px;

}
aside section h4{
    background-color: #dddadd;
    padding: 5px;
    font-weight: 700;
    color: #49494e;
}
.readM{
    color: #ffc400;
    font-weight: 100;
    font-size: .8rem;
}
.category ul{
    margin-top: 5px;
}
.category li{
    color: #ffc400;
    font-weight: 500;
}
footer span{
    display: inline-block;
    width: 100%;
    color: #000000;
    text-align: center;
    font-weight: 700;
}